@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Hanken Grotesk";
  src: url("assets/fonts/Hanken_Grotesk/HankenGrotesk-VariableFont_wght.ttf");
}

/* *{
    border: 1px solid black;
} */

:root {
  --background: #ffffff;
  --text: #000000;
  --text-secondary: #00000080;
  --footer-background: #f8f9f8;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: "Arial", sans-serif;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.heading {
  font-family: "Hanken Grotesk", sans-serif;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  background-color: var(--background);
  z-index: 1000;
}

#plaimanas-floating-img {
  transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
  transition: transform 1s ease-in-out;
  mix-blend-mode: difference;
}

#plaimanas-floating-img.scale-down {
  transform: scale(0.24);
  -moz-transform: scale(0.24);
  -webkit-transform: scale(0.24);
  transition: transform 1s ease-in-out;
}

@media screen and (max-width: 768px) {
  #plaimanas-floating-img.scale-down {
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transition: transform 1s ease-in-out;
  }
}
